*{
  margin:0
}
.app{
  display: none;
}
.wrapper{
  display: grid;
  place-items: center;
  z-index: 1200;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}
.wrapper>img{
  height:80px
}
@media screen and (min-width: 768px){
  .wrapper{
    position:absolute;
    display:none;
  }
  .app__body{
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 35px;
  }
  .app{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f3f2ef;
  }
}
